
/* google font work sans add */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navbar */
.display-flex{
  display: flex;
}
.nav-bar{
  justify-content: space-between;
  align-items: center;
}
.nav-bar ,.banner{
  max-width: 1440px;
  margin: 0 auto;
}

.nav-item{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  margin-right: 50px;
}
.nav-bar-link{
  text-decoration: none;
}
.brand{
  font-size: 3rem;
}
.banner-contant{
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
  margin-top: 0;

}
.banner-description{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 25px;
  
  
}
.banner-image{
  width: 100%;
}
/* shared style */
.dark-2{
  color: rgba(66, 66, 66, 1);

}
.dark-3{
  color: rgba(114, 114, 114, 1);
}
.dark-1{
  color: rgba(19, 19, 19, 1);
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;

  
}
main > section{
  margin-top: 130px;
}
.team-description{
  font-size: 1rem;
  color: rgba(114, 114, 114, 1);

}
/* main section */
main{
  max-width: 1400px;
  margin: 0 auto;
}
.team{
  align-items: center;
}
.team-image{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 gap: 20px;
}
.team-container{
  max-width: 530px;
  margin-left: 100px;
  
}
.heading-1{
  font-size: 2rem;
  font-weight: 600;
  
}
.heading-2{
  font-size: 2rem;
  font-weight: bold;
}
.heading-3{
  font-size: 2rem;
  color: #FF900E;
  font-weight: bold;
}

/* feature love section */
.feature-love-container{
  justify-content: center;
  gap: 100px;
}
.different-feature{
  max-width: 500px;
}
.different-feature-title{
  font-size: 3rem;
  font-weight: bold;
  border-left: 8px solid #FF900E;
  padding-left: 8px;
  
}
.feature{
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 25px;
  margin: 20px auto;
  border-radius: 8px;
}
.architect-image-part{
  max-width: 100%;
}
.experience-button{
  position: relative;
  top: -140px;
  padding: 40px 48px;
  background-color: #FF900E;
  color: white;
  border-style: none;
  border-radius: 8px;
  left: -40px;
}
.experience-title{
  font-size: 2rem;
  margin: 0;
}

/* some facts: */
.fact-items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 120px auto;

}
.fact-item{
  text-align: center;
  border: 1px solid #FF900E;
  padding: 38px 40px;
  max-width: 241px;
  max-height: 241px;
  border-radius: 8px;
}
.fact-item-title{
  font-size: 2rem;
  margin: 0;
}
.fact-item-des{
  font-size: 1rem;
  color: rgba(114, 114, 114, 1);
  margin: 0;
}
/* sponsor */
.sponsor-contant{
  text-align: center;
  margin: 50px auto;
}
/* sponsor-items */
.sponsor-items{
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
footer{
  background-color: rgba(255, 244, 231, 1);
  max-width: 1140px;
  max-height: 80px;
  margin: 0 auto;
  /* padding: 5px; */
  border-radius: 8px;
  align-items: center;
  margin-bottom: 100px;

}
.footer-contant{
  text-align: center;
  margin: 10px auto;
  padding: 30px;
}

/* footer  */


/* media small devices */
@media screen and (max-width: 576px){
  .nav-bar , .nav-link , .team , .feature-love-container , .fact-items , .sponsor-items{
    flex-direction: column;
  }
  .team-image{
    grid-template-columns: repeat(1,1fr);
  }
  .team-container{
    margin-left: 20px;
  }
  .fact-items , .sponsor-items{
    gap: 40px;
  }
}


/* medium devices */

@media screen and (min-width: 576px) and (max-width: 992px){
  .team , .feature-love-container{
    flex-direction: column;
  }
  .team-container{
    margin: 50px auto;
  }
  .experience-button{
    left: 20px;
  }
} 